@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
    .h-90vh {
        height: 90vh;
    }
    .w-196 {
        width: 40rem;
    }
    .h-130 {
        height: 40rem;
    }
    .h-110 {
        height: 34rem;
    }
    .left-50 {
        left: 50%;
    }
    .-left-50 {
        left: -100%;
    }
}